.parallax {
    /* The image used */
    background-image: url("https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e000118/GSFC_20171208_Archive_e000118~orig.png");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spacer {
    opacity: 0.5!important;
}

.header {
    height: 70px;
    width: 100%;
    align-content: center;
    background-color: whitesmoke;
    text-align: center;
    vertical-align: middle;
}

.header-text {
    vertical-align: middle;
    font-size: 50px;
}

.name {
    font-family: 'Brush Script MT', cursive !important;
    font-size: 30px;
    text-align: center;
}