.brand-font {
    font-family: 'Brush Script MT', cursive !important;
    font-size: 35px !important;
    color: lightblue !important;
}

img {
    width: 100%;
}

.parallax {
    /* The image used */
    background-image: url("../images/screenshots/rocky-mountains.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar a:hover {
    background-color: lightblue !important;
    color: black !important;
}

.spacer {
    height: 50px;
    opacity: 0.75!important;
    background-color: whitesmoke;
}

.no-space {
    margin: 0 !important;
}

.carousel-image {
    height: 200px;
}

.footer {
    color: lightblue;
    align-content: center;
    text-align: center;
    padding-top: 40px;
    height: 100px;
}

.selectionIconHolder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 8px;
}

.selectionIcon {
    width: 300px;
    height: 400px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectionImageHolder {
    height: 300px;
    overflow: hidden;
}

.selectionImage {
    height: 100%;
    overflow: hidden;
    margin-top: 5px;
}

.caption {
    background-color: whitesmoke;
    opacity: 0.9;
    color:steelblue;
}

.selectionParagraph {
    background-color: steelblue;
    height: 100px;
    width: 95%;
    margin: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

@media only screen and (min-width: 961px) {
    .carousel-image {
        height: 600px;
        opacity: 1 !important;
        width: 100%;
        align-content: center;
    }

    .spacer {
        height: 100px;
    }

    .selectionIconHolder {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 8px;
    }
}